* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border: 1px solid white; 
}

:root {

}

h1 {
    text-align: center;
}
h2 {
    margin: 0 0 2% 0;
}
h3 {
    margin: 5% 0 0 0;
}
body {
    margin: 2%;
}

.container {


}

.input {
    display: grid;
    grid-template-columns: repeat(6, 100px);
}

.table {
    width: 600px;
}

header {
    padding: 5%;
}

input {
    border-radius: 10px;
    padding: 5%;
    margin: 0 5% 0 5%; 
}

button {
    border-radius: 10px;
    padding: 5%;
}

table {
    margin: 2% 0 0 0;
}
th {
    border: 1px solid red;
    padding: 1%;
    margin: 1%;
}


