* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    /* background-color: black;
    color: white; */
    /* border: 1px solid red;  */
}

:root {

}

h1 {
    text-align: center;
}

body {
    background-color: white;
    margin: 20px;

    max-width: 75vw;
    margin: 0 auto 0 auto;
    padding: 4%;
}

header {
    width: 100%; 
    display: grid;
    grid-column: 1 / span 6;
    align-items: center;
    margin: 0 0 3% 0;
}

.add-employee {
    grid-column: 1 / span 6;
    margin: 0 0 2% 1%;
}

.employees {
    margin: 5% 0 2% 1%;  
    grid-column: 1 / span 6;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 1.5%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

input {
    border-radius: 20px;
    margin: 1%;
    padding: 2% 1% 2% 3%;
    width: 85%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.submit-button {
    border-radius: 15px;
    margin: 1%;
    padding: 2%;
    width: 90%;
    background-color: hsla(220, 80%, 60%, .9);
    color: white; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.submit-button:hover {
    background-color: hsla(220, 80%, 30%, .9);
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.left {
    width: 33%;
}
.center {
    width: 33%; 
}
.right {
    width: 33%;
}

.table-container {
    display: grid;
    grid-column: 1 / span 6;
}

.table-header-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.table-body-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: white; 
    vertical-align: bottom;

}

th {
    padding: 1% 0 1% 0;
    border-bottom: 1px solid lightgray;
    

}
td {
    display: grid;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    vertical-align: bottom;
    align-content: flex-end;
    height: 30px;
}
tbody tr:hover {
    background-color: hsla(0, 0%, 95%, 1)
}
td button {
    display: grid;
    justify-content: center;
    vertical-align: center;
    margin: 0 0 5% 0;
}

.total-monthly {
    margin: 5% 0 0 1%;
    display: inline;
}

.button-blank {
    width: 100%;
}

.remove-button {
    width: 85px; 
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.remove-button:hover {
    background-color: red;
    cursor: pointer;
    color: white; 
}